body {
    background-color: rgb(157, 57, 250);
}

a {
    text-decoration: none;
    color: rgb(157, 57, 250);
    font-weight: bold;
}

.header {
    background-color: rgb(91, 223, 168);
    padding: 20px;
    margin-left: -10px;
    margin-right: -8px;
    margin-top: -10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header_container {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-top: 10px;
    padding-left: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.h1_container {
    margin: auto;
}

.form_container {
    margin-left: 20px;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    margin-top: 8%;
    width: 32%;
    border-radius: 7px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #fff;
}

.inputs {
    width: 50%;
    height: 22px;
}

.button_container {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.button_signUp {
    width: 30%;
    background-color: rgb(157, 57, 250);
    border-radius: 10px;
}